<div class="container mt-5">
  <h3><%= @job.name %></h3>
  <div class="row">
    <p class="ml-3 mr-2">Firma: <%= User.find(@job.user_id).name %></p>

    <%= link_to "mehr", company_path(@job.user_id), class: "reg_link" %>
  </div>
  <p>Adresse: <%= @job.address %></p>
  <p>Beschreibung: <%= @job.description %></p>
  <% if @job.user_id == current_user.id %>
    <% if @job.hiring == "archiv" %>
      <%= link_to "Reaktivieren", active_job_path(@job.id), class: "btn btn-info",
                data: { confirm: "Möchten Sie \'#{@job.name}\' wieder anzeigen?" } %>
    <% else %>
      <%= link_to "Bearbeiten", edit_job_path(@job.id), class: "btn btn-info mr-4" %>
      <%= link_to "Archivieren", archiv_job_path(@job.id), class: "btn btn-dark", style: "color: white;",
                    data: { confirm: "Möchten Sie \'#{@job.name}\' archivieren?" } %>
    <% end %>
    <div class="mt-3">
      <%= link_to "Meine Anzeigen |", anzeigen_path, class: "reg_link" %>
      <%= link_to "Alle Anzeigen", jobs_index_path, class: "reg_link" %>
    </div>
  <% else %>
    <%= link_to "zurück", jobs_index_path, class: "btn btn-outline-dark mt-3" %>
  <% end %>
</div>
