<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= cl_image_tag("tmp_1569653908851_apfjny.png") %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0 mr-3">
      <%= form_tag jobs_index_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control mr-sm-2",
          placeholder: "Unternehmen, Adresse..."
        %>
        <%= submit_tag "Suchen", class: "btn btn-outline-info my-2 my-sm-0" %>
      <% end %>
    </div>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.role != "company" %>
          <li class="nav-item dropdown">
            <%= image_tag "https://images.unsplash.com/photo-1544502062-f82887f03d1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1427&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Anfragen", "#", class: "dropdown-item" %>
              <%= link_to "Einstellungen", "#", class: "dropdown-item" %>
              <%= link_to "Abmelden", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <%= image_tag "https://images.unsplash.com/photo-1544502062-f82887f03d1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1427&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Anfragen", "#", class: "dropdown-item" %>
              <%= link_to "Neue Anzeige", jobs_new_path, class: "dropdown-item" %>
              <%= link_to "Anzeigen Verwalten", anzeigen_path, class: "dropdown-item" %>
              <%= link_to "Archiv", archiv_path, class: "dropdown-item" %>
              <%= link_to "Abmelden", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Anmelden", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<br>
<br>
